{% extends 'base.html' %}

{% block content %}

    <h1>Hello World!</h1>

    <p>This is my first webpage!</p>

    <p>First Name is: {{ user_name }}</p>

    <p>{{ stuff|safe }}</p>
    <p>{{ stuff|striptags }}</p>

    {{ fav_pizza }}

    <h3> Favorite Pizza:</h3>
    {% for topping in fav_pizza %}
        {% if topping == 41 %}
            {{ topping + 100 }}
        {% else %}
            {{ topping }}
        {% endif %}
    </br>
    {% endfor %}

    </br></br>

    {{ fav_pizza.0|reverse|lower }}</br>
    {{ fav_pizza.1 }}</br>
    {{ fav_pizza.3 + 10 }}</br>

{% endblock %}