{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<br/>

{% for post in posts %}

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2><a href=" {{ url_for('post', id=post.id) }} ">{{ post.title }}</a></h2>
        <small>By: {{ post.author }}<br/>    
        {{ post.date_posted }}</small><br/><br/>
        {{ post.content }}<br/>
        <br/>
        <a href=" {{ url_for('post', id=post.id) }} " class="btn btn-outline-secondary btn-sm">View Post</a>
    </div>

{% endfor %}

{% endblock %}